@{
    ViewData["Title"] = "Tài khoản đã bị khóa";
}

@await Html.PartialAsync("_PageHeader")

<!-- Account Locked Message -->
<div class="container mt-4">
    <div class="alert alert-danger text-center">
        <h1 class="mb-4">Tài khoản của bạn đã bị khóa</h1>
        <p>Vui lòng liên hệ dịch vụ chăm sóc khách hàng để biết thêm thông tin.</p>
    </div>
</div>