
@{
    ViewData["Title"] = "Tài khoản đã bị khóa";
}

@await Html.PartialAsync("_PageHeader")
<h1 class="alert alert-danger">Tài khoản của bạn đã bị khóa. Vui lòng liên hệ admin để biết thêm thông tin</h1>
