<!-- Navbar Start -->
<nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
    <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
        <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
    </a>
    <a href="#" class="sidebar-toggler flex-shrink-0">
        <i class="fa fa-bars"></i>
    </a>
    <div class="navbar-nav align-items-center ms-auto">
        <div class="nav-item dropdown">
            @if (!string.IsNullOrEmpty(Context.Session.GetString("AccountAvatar")))
            {
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <img class="rounded-circle" src="~/images/AnhDaiDien/@Context.Session.GetString("AccountAvatar")" alt="" style="width: 40px; height: 40px;">
                    <span class="d-none d-lg-inline-flex">@Context.Session.GetString("AccountName")</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                    <a asp-action="EditprofileAD" asp-controller="Profile" asp-area="Admin" class="dropdown-item">My Profile</a>
                    <a asp-action="Index" asp-controller="Home" class="dropdown-item">Devoiture</a>
                    <a asp-action="Dangxuat" asp-controller="Khachhang" class="dropdown-item">Log Out</a>
                </div>
            }
            else
            {
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <img class="rounded-circle" src="~/images/AnhDaiDien/userdefault.png" alt="" style="width: 40px; height: 40px;">
                    <span class="d-none d-lg-inline-flex">@Context.Session.GetString("AccountName")</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                    <a asp-action="EditprofileAD" asp-controller="Profile" asp-area="Admin" class="dropdown-item">My Profile</a>
                    <a asp-action="Index" asp-controller="Home" class="dropdown-item">Devoiture</a>
                    <a asp-action="Dangxuat" asp-controller="Khachhang" class="dropdown-item">Log Out</a>
                </div>
            }
        </div>
    </div>
</nav>
<!-- Navbar End -->

