<!-- About Start -->
<h1 class="display-4 text-uppercase text-center mb-5">Chào mừng đến với <span class="text-primary">Devoiture</span></h1>
<div class="row justify-content-center">
    <div class="col-lg-10 text-center">
        <img class="w-75 mb-4" src="~/layoutKhachhang/img/about.png" alt="">
        <p>Đây là trang web thuê xe oto tự lái ở Đồng Nai, bạn có thể thuê hoặc cho thuê bất cứ xe oto nào ở Đồng Nai trên web Devoiture này. Nơi kết nối giữa những người có nhu cầu thuê xe và những người cho thuê xe ở bất cứ đâu trong tỉnh Đồng Nai. Giúp giao dịch từ xa dễ dàng hơn.</p>
    </div>
</div>
<div class="row mt-3">
    <div class="col-lg-4 mb-2">
        <div class="d-flex align-items-center bg-light p-4 mb-4" style="height: 150px;">
            <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary ml-n4 mr-4" style="width: 100px; height: 100px;">
                <i class="fa fa-2x fa-headset text-secondary"></i>
            </div>
            <h4 class="text-uppercase m-0">24/7 Hỗ trợ thuê xe</h4>
        </div>
    </div>
    <div class="col-lg-4 mb-2">
        <div class="d-flex align-items-center bg-secondary p-4 mb-4" style="height: 150px;">
            <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary ml-n4 mr-4" style="width: 100px; height: 100px;">
                <i class="fa fa-2x fa-car text-secondary"></i>
            </div>
            <h4 class="text-light text-uppercase m-0">Thuê xe bất cứ lúc nào</h4>
        </div>
    </div>
    <div class="col-lg-4 mb-2">
        <div class="d-flex align-items-center bg-light p-4 mb-4" style="height: 150px;">
            <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary ml-n4 mr-4" style="width: 100px; height: 100px;">
                <i class="fa fa-2x fa-map-marker-alt text-secondary"></i>
            </div>
            <h4 class="text-uppercase m-0">Thuê xe ở bất cứ đâu</h4>
        </div>
    </div>
</div>
<!-- About End -->